////////////////
// breakpoints
////////////////
@mixin atSmall {
    @media (max-width: 699px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media (min-width: 700px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin atDesktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin atDesktopLarge {
    @media (min-width: 1500px) {
        @content;
    }
}

////////////////
// decorations
////////////////
@mixin barberPole($width, $height, $size: 30px, $dir:-45deg) {
    // box model
    height: $height;
    width: $width;

    // visual
    background-image: repeating-linear-gradient($dir, $red 0px, $red $size, #ffffff $size, #ffffff $size * 2, $blue $size * 2, $blue $size * 3, #ffffff $size * 3, #ffffff $size * 4);
}

@mixin redDot($size: 20px, $top: 0, $left: 0) {
    &::before {
        content: "";

        position: absolute;
        top: $top;
        left: $left;

        // box model
        height: $size;
        width: $size;

        // visual
        background-color: $red;
        border-radius: 50%;
    }
}

////////
// DRY
////////
@mixin sectionTitle {
    // positioning
    position: relative;

    // box model
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;

    // typography
    color: $titleColor;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;

    @include redDot(12px, 13px);

    @include atTabletsPortrait {
        // typography
        font-size: 2.25rem;
        line-height: 1.1;
    }
}

@mixin sectionSubtitle {
    // box model
    margin: 0;
    padding-left: 20px;

    // typography
    color: $subtitleColor;
    font-size: 1rem;
    line-height: 1.5;
}