// breakpoints

@mixin atSmall {
    @media (max-width: 699px) {
        @content;
    }
}

@mixin atTabletsPortrait {
    @media (min-width: 700px) {
        @content;
    }
}

@mixin atTabletsLandscape {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin atDesktop {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin atDesktopLarge {
    @media (min-width: 1400px) {
        @content;
    }
}

// decorations
@mixin barberPole($width, $height, $size: 30px, $dir:-45deg) {
    // box model
    height: $height;
    width: $width;

    // visual
    background-image: repeating-linear-gradient($dir, $red 0px, $red $size, #ffffff $size, #ffffff $size * 2, $blue $size * 2, $blue $size * 3, #ffffff $size * 3, #ffffff $size * 4);
}

.pole1 {
    @include barberPole(300px, 300px, 10px);
}