// colors
$white: #ffffff;
$blue: #255088;
$red: #c21f39;
$darkBlue: #142945;
$menuBlue: #0c1a2c;
$lightGrey: #f1f1f3;
$grey: #cccccc;
$titleColor: #323232;
$subtitleColor: #777777;
$copyColor: #434343;

// fonts
$mainFont: "PT Sans", sans-serif;