.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    width: 200px;
    margin-bottom: 20px;

    // typography
    color: $blue;
    font-size: 1rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $white;
    border-radius: 25px;
    transition: all 0.3s ease-out;

    @include atTabletsPortrait {
        // box model
        width: 190px;
    }

    &:hover {
        // typography
        color: $white;

        // visual
        background-color: $blue;
        background-color: $red;
    }

    &--blue {
        // typography
        color: $white;

        // visual
        background-color: $blue;
    }

    &--mr-20 {
        // box model
        margin-right: 20px;
    }

    &--block {
        // box model
        display: block;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}