.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;

    // typography
    color: $blue;
    font-size: 1rem;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $white;
    border-radius: 25px;

    &--blue {
        // typography
        color: $white;

        // visual
        background-color: $blue;
    }

    &--block {
        // box model
        display: block;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}