.check-in {
    // positioning
    position: relative;

    // box model

    // visual
    background-color: $blue;

    &::after {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 0;

        @include barberPole(100%, 15px, 15px);
    }
}