.contacts {
    // positioning
    position: relative;

    // box model
    padding: 25px 15px;

    @include atTabletsPortrait {
        // box model
        padding-left: 70px;
    }

    @include atDesktop {
        // box model
        margin-bottom: 80px;
    }

    &__title {
        @include sectionTitle;
    }

    &__content {
        // positioning
        position: relative;

        // box model
        padding-left: 20px;

        @include atTabletsPortrait {
            // box model
            padding-right: 140px;
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;

            width: 500px;
            margin-right: -110px;
            padding-top: 40px;

            // visual
            background-color: $white;

            &::after {
                content: "";

                // positioning
                position: absolute;
                bottom: -20px;
                left: 0;

                @include barberPole(100%, 20px, 20px);
            }
        }
    }

    &__text {
        // box model
        padding-bottom: 20px;
        
        // typography
        color: $copyColor;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__map {
        // box model
        display: inline-block;

        height: 570px;
        width: 700px;

        margin-top: -90px;

        // visual
        box-shadow: 0 12px 14px -10px rgba($darkBlue, 0.6);

        @include atSmall {
            // box model
            display: none;
        }
    }
}