.contacts {
    // positioning
    position: relative;

    // box model
    padding: 25px 15px;

    @include atTabletsPortrait {
        // box model
        padding-left: 20px;
    }

    @include atDesktop {
        // box model
        margin-bottom: 80px;
    }

    &__header {
        @include atTabletsPortrait {
            // box model
            padding-left: 20px;
        }
    }

    &__title {
        @include sectionTitle;
    }

    &__content {
        // positioning
        position: relative;

        // box model
        padding-left: 20px;

        @include atTabletsPortrait {
            // box model
            margin-right: -10px;
            padding-right: 140px;
            padding-left: 40px;
            padding-bottom: 10px;
        }

        @include atDesktop {
            // positioning
            z-index: 1;
            
            // box model
            display: inline-block;
            vertical-align: top;

            width: 500px;
            margin-right: -110px;
            padding-top: 40px;

            // visual
            background-color: $white;
            box-shadow: 0 32px 24px -10px rgba($darkBlue, 0.4);

            &::after {
                content: "";

                // positioning
                position: absolute;
                bottom: -20px;
                left: 0;

                @include barberPole(100%, 20px, 20px);
            }
        }
    }

    &__text {
        // box model
        padding-bottom: 20px;
        
        // typography
        color: $copyColor;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__map {
        // box model
        height: 500px;

        // visual
        box-shadow: 0 12px 14px -10px rgba($darkBlue, 0.6);

        @include atSmall {
            // box model
            display: none;
        }

        @include atDesktop {
            // positioning
            position: relative;
            // z-index: -1;

            // box model
            display: inline-block;

            height: 570px;
            width: 700px;
            width: calc(100% - 400px);
            margin-top: -90px;
        }
    }
}