.logo {
    // box model
    height: 65px;
    width: 328.6px;
    max-width: 100%;

    @include atTabletsLandscape {
        // box model
        display: inline-block;
        vertical-align: top;
        // border: 1px solid red;
    }

    img {
        // box model
        height: 100%;
        width: 100%;
    }
}