.logo {
    // positioning
    position: relative;

    // box model
    height: 65px;
    width: 328.6px;
    max-width: 100%;

    &__white {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        // visual
        opacity: 0;
        transition: all 0.3s ease-out;
        visibility: hidden;

        &--shown {
            // visual
            opacity: 1;
            visibility: visible;
        }

        @include atTabletsLandscape {
            // box model
            display: none;
        }
    }

    @include atTabletsLandscape {
        // box model
        display: inline-block;
        vertical-align: top;
        // border: 1px solid red;
    }

    img {
        // box model
        height: 100%;
        width: 100%;
    }
}