.logo {
    // box model
    height: 65px;
    width: 328.6px;
    max-width: 100%;
    // &__vertical {
    //     // box model
    //     height: 65px;
    //     // width: 98.35px;
    // }

    // &__horizontal {
    //     // box model
    //     display: none;
    // }

    img {
        // box model
        height: 100%;
        width: 100%;
    }
}