.main-nav {
    // positioning
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    // box model
    padding: 15px;
    padding-right: 80px;
    width: 100%;

    // typography
    text-align: left;

    // visual
    background-color: $white;
    background-color: rgba($white, 0.8);

    @include atTabletsLandscape {
        // box model
        padding-right: 40px;
    }

    @include atDesktop {
        // box model
    }

    @include atDesktopLarge {
        // box model
        padding-left: 70px;
    }

    &__menu-icon {
        // positioning
        position: absolute;
        right: 25px;
        top: 35px;
        z-index: 2;

        // box model
        height: 24px;
        width: 24px;
        // border: 1px solid red;

        // visual
        cursor: pointer;

        @include atTabletsLandscape {
            // box model
            display: none;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: 0;
            transform-origin: 0 50%;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $blue;
            transition: transform 0.3s ease-out;
        }

        &__middle {
            // positioning
            position: absolute;
            left: 0;
            top: 10px;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $blue;
            transition: transform 0.3s ease-out;
        }

        &::after {
            content: "";

            // positioning
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: 0 50%;

            // box model
            display: block;
            height: 4px;
            width: 24px;

            // visual
            background-color: $blue;
            transition: transform 0.3s ease-out;
            // border-radius: 4px;
        }

        &--close-x {
            &::before {
                // positioning
                transform: rotate(45deg) scaleX(1.178);

                // visual
                background-color: $red;
            }

            .main-nav__menu-icon__middle {
                // positioning
                transform: scaleX(0);

                // visual
                opacity: 0;
            }

            &::after {
                // positioning
                transform: rotate(-45deg) scaleX(1.178);

                // visual
                background-color: $red;
            }
        }
    }

    &__button {
        // box model
        display: none;

        @include atDesktop {
            // box model
            display: block;
            float: right;

            padding-top: 7px;
        }

        .button {
            // box model
            margin-bottom: 0;
        }
    }
}