.main-nav {
    // positioning
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    // box model
    padding: 15px;
    padding-right: 80px;
    width: 100%;

    // typography
    text-align: left;

    // visual
    background-color: $white;
    background-color: rgba($white, 0.8);
}