.main-menu {
    // positioning
    position: absolute;
    left: 0;
    top: 0;

    // box model
    height: 100vh;
    width: 100%;
    padding-top: 150px;

    // visual
    background-color: rgba($menuBlue, 0.95);
    opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;

    &--shown {
        // visual
        opacity: 1;
        visibility: visible;
    }


    @include atTabletsLandscape {
        // positioning
        position: static;

        // box model
        display: inline-block;
        vertical-align: top;

        height: auto;
        width: auto;
        padding-top: 0;

        // visual
        background-color: transparent;
        opacity: 1;
        visibility: visible;
    }

    &__list {
        // box model
        margin: 0;
        padding: 0;

        // visual
        list-style: none;

        @include atTabletsLandscape {
            // box model
            padding-left: 40px;
            padding-top: 18px;
        }

        @include atDesktop {
            // box model
        }
    }

    li {
        @include atTabletsLandscape {
            // box model
            display: inline-block;
            vertical-align: top;
        }
    }

    a {
        // box model
        display: block;
        margin: 5px 50px;
        padding: 12px;

        // typography
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        transition: all 0.3s ease-out;

        @include atTabletsLandscape {
            // box model
            margin: 0;
            padding: 5px 12px;

            // typography
            color: $blue;
            letter-spacing: normal;
            text-align: left;
        }

        @include atDesktop {
            // box model
            padding: 5px 15px;
        }

        &:hover {
            // typography
            color: $red;
        }
    }
}