.prices {
    // positioning
    position: relative;

    @include atDesktop {
        // box model
        padding-bottom: 100px;
    }

    &__header {
        // positioning
        // position: relative;
        // z-index: -1;

        // box model
        padding: 25px 15px;
        padding-right: 40px;
        padding-bottom: 10px;

        // typography
        font-size: 0;

        // visual
        background-color: $lightGrey;

        @include atTabletsPortrait {
            // box model
            padding-left: 40px;
            padding-right: 50px;
        }

        @include atDesktop {
            // positioning
            z-index: -2;

            // box model
            margin-right: 80px;

            // visual
            box-shadow: 0 12px 14px -10px rgba($darkBlue, 0.6);
        }

        @include atDesktopLarge {
            // box model
            margin-left: 0;
        }
    }

    &__header-wrapper {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 200px);
        }
    }

    &__title {
        @include sectionTitle;
    }

    &__subtitle {
        @include sectionSubtitle;

        // box model
        padding-bottom: 20px;

        @include atTabletsPortrait {
            // box model
            width: 260px;
        }

        @include atDesktop {
            // box model
            width: 220px;
        }
    }

    &__button {
        // box model
        padding-left: 20px;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 200px;
            padding-top: 28px;
        }

        @include atDesktop {
            // positioning
            position: relative;
            z-index: 2;

            // box model
            display: block;
            padding-left: 0;
        }
    }

    &__content {
        // positioning
        position: relative;

        // box model
        padding: 25px 35px;
        padding-bottom: 1px;
        padding-left: 50px;

        // visual
        background-color: $darkBlue;
        background-image: url('./img/price-bg.jpg');
        background-size: cover;
        background-position: left center;

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: 0;

            @include barberPole(15px, 100%, 15px);
        }
        

        @include atTabletsPortrait {
            // box model
            padding-left: 60px;

            // visual
            box-shadow: 0 12px 14px -10px rgba($darkBlue, 0.6);
        }

        @include atDesktop {
            // box model
            width: 810px;
            width: calc(100% - 360px);

            margin-left: auto;
            margin-right: 0;
            margin-top: -200px;

            padding-left: 70px;

            // visual
            box-shadow: 0 22px 24px -10px rgba($darkBlue, 0.4);

            &::before {
                content: "";

                // positioning
                position: absolute;
                top: 0;
                left: 0;

                @include barberPole(20px, 100%, 20px);
            }
        }
    }

    table {
        // box model
        width: 100%;
        max-width: 475px;
        margin-bottom: 40px;

        // typography
        color: $white;
        font-size: 1rem;
        text-transform: uppercase;

        // table
        border-collapse: collapse;
    }

    caption {
        // box model
        margin-bottom: 10px;

        // typography
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
    }

    td {
        // box model
        padding-bottom: 5px;
        padding-top: 10px;

        // visual
        border-bottom: 1px solid $white;

        &:nth-of-type(1) {
            // box model
            padding-right: 10px;

            @include atTabletsPortrait {
                // typography
                letter-spacing: 2px;
            }
        }

        &:nth-of-type(2) {
            // box model
            width: 45px;

            // typography
            font-weight: 700;
        }
    }
}