.price-section {
    // positioning
    position: relative;

    // box model
    padding: 25px 15px;

    @include atTabletsPortrait {
        // box model
        padding: 25px 40px;
    }

    @include atTabletsLandscape {
        // box model
        padding-bottom: 150px;
        padding-left: 355px;
    }

    @include atDesktop {
        // box model
        padding-bottom: 200px;
        padding-left: 455px;
    }

    &--right {
        @include atTabletsLandscape {
            // box model
            padding-left: 40px;
            padding-right: 355px;

            .price-section__image {
                // positioning
                right: 0;
                left: auto;

                &::before {
                    // positioning
                    left: -15px;
                    right: auto;
                }
            }
        }

        @include atDesktop {
            // box model
            padding-right: 455px;

            .price-section__header {
                // box model
                padding-left: 50%;
                padding-right: 0;

                // typography
                text-align: right;
            }
        }
    }

    &__header {
        @include atDesktop {
            // box model
            padding-right: 50%;
            padding-left: 0;
        }
    }

    &__title {
        // typography
        color: $titleColor;
        font-size: 1.75rem;
        font-weight: 300;
        text-transform: uppercase;

        &::before {
            content: "— ";

            // typography
            color: $red;
            // font-size: 2.5rem;
        }

        @include atTabletsPortrait {
            // typography
            font-size: 2.25rem;
        }

        @include atDesktop {
            // positioning
            position: relative;

            // typography
            font-size: 3.25rem;
            text-indent: -80px;

            &::before {
                content: "";

                // positioning
                position: relative;
                z-index: 2;

                // box model
                display: inline-block;
                height: 8px;
                width: 60px;
                margin-bottom: 14px;
                margin-right: 12px;

                // visual
                background-color: $red;
            }
        }
    }

    &__subtitle {
        // typography
        color: $subtitleColor;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__image {
        // box model
        display: none;

        @include atTabletsLandscape {
            // positioning
            position: absolute;
            left: 0;
            top: 0;

            // box model
            display: block;
            width: 300px;

            &::before {
                content: "";

                // positioning
                position: absolute;
                right: -15px;
                top: 0;

                @include barberPole(15px, 100%, 15px);
            }

            img {
                // positioning
                position: relative;

                // box model
                display: block;
                width: 100%;

            }
        }

        @include atDesktop {
            // box model
            width: 400px;
        }
    }

    table {
        // box model
        width: 100%;
        margin-bottom: 2px;

        // typography
        font-size: 1rem;
        line-height: 1.4;
        text-transform: uppercase;

        // table
        border-collapse: collapse
    }

    td {
        // box model
        padding-bottom: 5px;
        padding-top: 10px;

        // visual
        border-bottom: 1px solid $grey;

        &:nth-of-type(1) {
            // box model
            padding-right: 20px;
        }

        &:nth-of-type(2) {
            // box model
            width: 45px;
            
            // typography
            font-weight: 700;
        }
    }
}