.promo-item {
    // positioning
    position: relative;

    // box model
    display: block;
    height: 41.6vw;

    margin-bottom: 15px;
    padding: 25px 30px;
    // border: 1px solid red;

    // typography
    text-align: left;
    text-decoration: none;
    user-select: none;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;

        width: 46%;
        height: 19.1vw;

        margin: 0 10px;
        margin-bottom: 20px;
        padding: 20px 30px;
    }

    @include atTabletsLandscape {
        // box model
        margin-bottom: 30px;
        padding: 30px;
    }

    @include atDesktop {
        // box model
        height: 14.5vw;
        padding-left: 50px;
        
        // visual
        overflow: hidden;
        transition: all 0.3s ease-out;

        &:hover {
            // box model
            padding-top: 55px;

            .promo-item__image {
                // visual
                opacity: 0;
            }

            &::before {
                // positioning
                top: 0;

                // visual
                opacity: 1;
            }
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: -25px;
            left: 0;
            z-index: 6;

            // box model
            height: 25px;
            width: 100%;

            // visual
            background-image: repeating-linear-gradient(-45deg, $red 0px, $red 15px, transparent 15px, transparent 15px * 2, $blue 15px * 2, $blue 15px * 3, transparent 15px * 3, transparent 15px * 4);
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }

    @include atDesktopLarge {
        // box model
        height: 250px;
    }

    &__title {
        // positioning
        position: relative;
        z-index: 3;

        margin: 0;
        padding: 0;

        // typography
        color: $white;
        font-size: 1.125rem;
        line-height: 1.4;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 1.5rem;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: -50px;
            top: 11px;

            // box model
            height: 4px;
            width: 40px;

            // visual
            background-color: $red;

            @include atTabletsLandscape {
                // positioning
                left: -70px;

                // box model
                height: 6px;
                width: 60px;
            }

            @include atDesktop {
                // positioning
                left: -90px;
                top: 13px;

                // box model
                height: 8px;
                width: 80px;
            }
        }
    }

    &__subtitle {
        // positioning
        position: relative;
        z-index: 3;

        // box model
        width: 180px;
        margin: 0;
        padding-top: 5px;
        
        // typography
        color: $white;
        font-size: 1rem;
        line-height: 1.4;
    }

    &__image {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        // box model
        width: 100%;

        // visual
        transition: all 0.3s ease-out;

        img {
            // box model
            width: 100%;
        }
    }

    &__hover {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        // box model
        display: none;
        width: 100%;

        img {
            // box model
            width: 100%;
        }

        @include atDesktop {
            // box model
            display: block;
        }
    }
}