.services {
    // box model
    padding: 25px 15px;
    margin-bottom: 40px;

    // typography
    font-size: 0;

    // visual
    background-color: $blue;
    // background-image: url('./img/services-bg.jpg');

    @include atTabletsPortrait {
        // visual
        background-color: transparent;
    }

    @include atDesktop {
        // box model
        padding-bottom: 40px;
    }

    &__hero {
        // positioning
        position: relative;

        @include atTabletsPortrait {
            // box model
            height: 450px;
            padding-left: 40px;
            padding-top: 340px;
            margin-bottom: 15px;

            // visual
            background-color: $blue;
            background-image: url('./img/services-bg.jpg');
            background-size: cover;
            box-shadow: 0 12px 14px -10px rgba($darkBlue, 0.6);
        }

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;

            height: 430px;
            width: calc(100% - 650px);

            margin-right: 30px;
            padding-top: 315px;
        }
    }

    &__title {
        @include sectionTitle;

        // typography
        color: $white;
    }

    &__content {
        // typography
        text-align: center;

        @include atDesktop {
            // box model
            display: inline-block;
            vertical-align: top;

            width: calc(100% - 590px);
            width: 620px;
            // border: 1px solid red;

            // typography
            text-align: left;
        }
    }
}