.service {
    // positioning
    position: relative;
    
    // box model
    margin-top: 20px;
    height: 62vw;

    // visual
    background-color: $lightGrey;
    overflow: hidden;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;

        height: 200px;
        width: 275px;

        margin: 15px 10px;
    }

    &__image {
        // positioning
        position: absolute;

        // box model
        width: 100%;

        img {
            // box model
            width: 100%;
        }
    }

    &__content {
        // positioning
        position: relative;

        // box model
        padding: 25px;
        height: 62vw;
        // border: 1px solid red;
    }

    &__icon {

    }

    &__title {
        // typography
        color: $white;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            color: $copyColor;
        }
    }

    &__subtitle {
        // typography
        color: $lightGrey;
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            color: #6d6e71;
        }
    }
}