.site-header {
    // positioning
    position: relative;

    // box model
    height: 90vh;
    max-height: 600px;

    // visual
    background-color: #72645c;
    background-image: url('./img/header-bg-l.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    // border: 1px solid red;

    &::after {
        content: "";

        // positioning
        position: absolute;
        right: 0;
        top: 0;

        @include barberPole(15px, 100%, 15px);
    }

    @include atTabletsPortrait {
        &::after {
            content: "";

            // positioning
            position: absolute;
            right: 0;
            top: 0;

            @include barberPole(15px, 100%, 15px);
        }
    }

}