.site-header {
    // positioning
    position: relative;

    // box model
    height: 90vh;
    max-height: 600px;
    padding-top: 15vh;

    // visual
    background-color: #72645c;
    background-image: url('./img/header-bg-l.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::after {
        content: "";

        // positioning
        position: absolute;
        right: 0;
        top: 0;

        @include barberPole(15px, 100%, 15px);
    }

    @include atTabletsPortrait {
        // box model
        padding-top: 200px;
        margin-bottom: 200px;

        &::after {
            content: "";

            // positioning
            position: absolute;
            right: 0;
            top: 0;

            @include barberPole(20px, 100%, 20px);
        }
    }

    @include atDesktop {
        // box model
        padding-top: 160px;
    }

    &--inner {
        // box model
        max-height: 420px;

        @include atTabletsPortrait {
            // box model
            margin-bottom: 20px;
        }

        @include atDesktop {
            // box model
            margin-bottom: 100px;
            padding-top: 190px;
        }
    }
}